<div class="container">
  <p>Nous avons trouvé <%= @acupointtreatments.count %> points d'acupression pour le symptôme : <%= @symptom.name %>. Clique pour visualiser la modélisation et les méthodes de pressions de ces points.</p>


  <% @oiltreatements.each do |o| %>
    <%= o.essential_oil.name %>
    <%= o.essential_oil_id %>
    <%= o.posology %>
    <%= link_to "Voir plus", essential_oil_path(o.essential_oil_id)  %>
    <img src="<%= o.essential_oil.photo %>" alt="picture">
  <% end %>
</div>
