<div class="container" data-modal-target="container" data-action="click->modal#close">
  <div class="head-fixed">
   <%= link_to root_path do %>
      <i class="fa-solid fa-arrow-left fa-2x"></i>
    <% end %>
    <h1><%= @symptom.name %></h1>
  </div>
  <% if @symptom.acupoints.present? %>
    <div class="acupoint">
      <p>Nous avons trouvé <strong><%= @acupointtreatments.count %> point(s) d'acupression</strong> pour le symptôme : <strong><%= @symptom.name %></strong>. Clique pour visualiser la modélisation et les méthodes de pression de ces points.</p>
      <%= render 'shared/button_large' %>
    </div>
  <% else %>
    <div class="acupoint">
      <p>Nous n'avons pas trouvé de points d'acupression pour ce symptom.</p>
    </div>
  <% end %>
  <div class="span-content">
    <span>Huiles essentielles</span>
    <p>Nous avons trouvé <strong><%= @oiltreatements.count %> huiles essentielle(s)</strong> pour les <strong><%= @symptom.name %></strong></p>
  </strong>
  <% @oiltreatements.each do |o| %>
    <div class="content-saved" data-controller="posology">
      <img src="<%= o.essential_oil.photo %>" id="image-saved" alt="">
      <div class="content-saved-text set-posology" data-posology-target="text">
        <h1><%= link_to o.essential_oil.name, essential_oil_path %></h1>
        <p style="margin-top: 10px"><% strongify(o.posology).split(".").each do |p| %>
          <%= strongify(p)  %> <br><br>
        <% end %></p>
        <a href="" data-action="click->posology#toggle"
        data-posology-target="link">Voir plus</a>
      </div>
    </div>
  <% end %>
  <%= render "shared/btn_up" %>
</div>
