<ul class="nav" data-controller="navbar">
  <span class="nav-indicator" data-navbar-target="indicator"></span>
  <li>
    <%= link_to root_path,
    data: { action: "click->navbar#update", navbar_target: "list"}, class: "nav-item" do %>
      <i class="fa-solid fa-house "></i>
      <span class="title">Home</span>
    <% end %>
  </li>
  <li>
    <%= link_to test_path,
    data: { action: "click->navbar#update", navbar_target: "list"}, class: "nav-item" do %>
      <i class="fa-regular fa-bookmark"></i>
      <span class="title">Favoris</span>
    <% end %>
  </li>
  <li>
    <%= link_to root_path,
    data: { action: "click->navbar#update", navbar_target: "list" }, class: "nav-item" do %>
      <i class="fa-solid fa-magnifying-glass"></i>
      <span class="title">Search</span>
    <% end %>
  </li>
  <li>
    <%= link_to test_path,
    data: { action: "click->navbar#update", navbar_target: "list" }, class: "nav-item" do %>
      <i class="fa-solid fa-user"></i>
      <span class="title">Profile</span>
    <% end %>
  </li>
  <li>
    <%= link_to test_path,
    data: { action: "click->navbar#update", navbar_target: "list" }, class: "nav-item" do %>
      <i class="fa-solid fa-location-dot"></i>
      <span class="title">Map</span>
    <% end %>
  </li>
</ul>

<script>
// let nav = document.querySelector(".nav");

// nav.querySelectorAll("li a").forEach((a, i) => {
//   a.onclick = (e) => {

//     a.classList.add("nav-item-active");

//     let nav_indicator = nav.querySelector(".nav-indicator");

//     nav_indicator.style.left = `calc(${i * 120 + 100}px - 158px)`;
//   };
// });
</script>
