
<div class="container" id="margin-top" data-modal-target="container" data-action="click->modal#close">
  <div class="background w-100">
    <div class="background-content">
      <div class="circle" id="reload">
        <i class="fa-solid fa-leaf fa-5x"></i>
        <span class="name">Mediless</span>
      </div>
      <div class="p-2 ">
        <%= render "shared/description" %>
        <%= render "shared/form_input" %>
      </div>
    </div>
  </div>
  <h1 id="size">Tu trouveras</h1>
  <%= render "shared/card_home" %>
  <%= render "shared/card_home1" %>
  <%= render "shared/card_home2" %>
  <%= render "shared/btn_up" %>
</div>
