<div class="container">
  <%= render "shared/logo_mediless" %>

  <div class="background">
    <div class="background-content">
      <%= render "shared/description" %>
      <%= render "shared/form_input" %>
    </div>
  </div>
  <h1>Tu trouvera ici</h1>
  <%= render "shared/card_home" %>
  <%= render "shared/card_home1" %>
  <%= render "shared/card_home2" %>
  <%= render "shared/navbar" %>
</div>
