<div class="container">
<%= render "shared/button_small" %>
<%= render "shared/button_large" %>
<%= render "shared/card_essential_oil" %>
<%= render "shared/card_acupoint_wt_frame" %>
<%= render "shared/logo_mediless" %>
<%= render "shared/description" %>
<%= render "shared/form_input" %>
<%= render "shared/flashes" %>
<%= render "shared/navbar" %>
</div>
