<div class="container">

  <%= render "shared/test" %>

  <%= form_with url: symptoms_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a movie"
    %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div id="movies">
        <% @symptoms.each do |s| %>
          <h4><%= s.name %></h4>
        <% end %>
      </div>
    </div>
  </div>
</div>

</div>
