<div class="container">
  <%= render "shared/button_search" %>
  <%= render "shared/button_save_essential_oil" %>
  <%= render "shared/button_save_acupoint" %>
  <%# <%= render "shared/button_acupoint" %>
  <%# <%= render "shared/card_menthe_poivree" %>
  <%# <%= render "shared/flashes" %>
</div>
