 <div class="container">
   <div class="head-fixed">
    <%= link_to root_path do %>
      <i class="fa-solid fa-arrow-left fa-2x"></i>
    <% end %>
    <h1>Mes favoris</h1>
  </div>
  <% @list_elements.each_with_index do |list_element, index| %>
      <% if list_element.listable.kind_of?(Acupoint) %>
        <div class="point-general-container general acupoint-box" data-controller="posology">
          <div class="card-acupoint set-posology list-acupoint" data-posology-target="text" >
            <div class="frame-content" id="frame-other">
              <span><%= index + 1 %></span>
            </div>
              <span>Point: <strong><%= link_to list_element.listable.name %></strong></span>
              <p style="margin-top: 10px"><% strongify(list_element.listable.coordinates).split(".").each do |p| %>
                <%= strongify(p)  %> <br><br>
              <% end %></p>
              <a href="" data-action="click->posology#toggle"
              data-posology-target="link">Voir plus</a>
          </div>
        </div>
      <% elsif list_element.listable.kind_of?(EssentialOil) %>
        <div class="content-saved" data-controller="posology">
          <img src="<%= list_element.listable.photo %>" id="image-saved" alt="">
          <div class="content-saved-text set-posology" data-posology-target="text">
            <h1><%= link_to list_element.listable.name, polymorphic_url(list_element.listable) %></h1>
             <p style="margin-top: 10px"><% strongify(list_element.listable.description).split(".").each do |p| %>
                <%= strongify(p)  %> <br><br>
              <% end %></p>
            <a href="" data-action="click->posology#toggle"
            data-posology-target="link">Voir plus</a>
          </div>
        </div>
      <% end %>
  <% end %>
 </div>
