<div class="container">
  <div class="head-fixed">
    <%= link_to symptom_path do %>
      <i class="fa-solid fa-arrow-left fa-2x"></i>
    <% end %>
    <h1><%= @essential_oil.name %></h1>
  </div>
  <div class="oil-essential-picture">
    <img src="<%= @essential_oil.photo %>" alt="picture">
  </div>
  <div class="background-content center">
    <%= render 'shared/description' %>
    <%= @essential_oil.description %>
    <div class="button-small mx-1">
      <%= link_to "Save", essential_oil_list_elements_path(@essential_oil), data: {turbo_method: :post} %>
    </div>
  </div>
  <%= render 'shared/navbar' %>
</div>