<!DOCTYPE html>
<html>
  <head>
    <title>RailsMediless</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta
     name='viewport'
     content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
    />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>

  </head>
  <body>
  <div class="container" data-controller="modal" >
    <div class="hidden modale" data-modal-target="container">
        <h2>Hello je suis dans le container</h2>
        <%= render "shared/form_input" %>
    </div>

    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
  </div>

  </body>
</html>
