<!DOCTYPE html>
<html>
  <head>
    <title>RailsMediless</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta
     name='viewport'
     content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
    />

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
    <link rel="manifest" href="/manifest/manifest.webmanifest">
    <%= favicon_link_tag asset_path('favicon.png') %>
  </head>
  <body data-controller="modal">

    <div class="m-fadeOut modale" data-modal-target="modal">
      <i class="fa-solid fa-xmark" data-action="click->modal#close"></i>
      <h2>Entre un symptôme</h2>
      <%= render "shared/form_input" %>
      <i class="fa-solid fa-leaf fa-5x" id="icon-popup"></i>
    </div>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%= yield %>
  </div>


  </body>
</html>
